:root	{
	--primary: #234e6d;
	--secondary: #D0D0D0;
	--third: lime;
	--pop: #122738;
}

* {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  font-family: Arial;
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 2%; */
}

.main {
	background-color: var(--secondary);
	color: var(--primary);
}

aside {
	flex: 1;
	padding: 75px;
	background-color: var(--secondary);
	color: var(--primary);
	font-size: 300%;
}

.work {
  flex: 4;
  background-color: #fff;
  padding: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-header {
  display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px;
  background: var(--primary);
  color: var(--secondary);
}

.main-header nav {
	display: flex;
	color: var(--secondary);
}

.hero {
	height: 350px;
	width: 100%;
	/* margin-bottom: 10px; */
	background-image: url("../images/NorthPole.jpg");
	object-fit: cover;
	background-size: cover;
	background-position: center;
}

.hero-container {
	object-fit: cover;
	text-align: right;
}
.card { 
  border-style: solid;
  border-width: 1px;
	border-radius: 10px;
	padding: 10px;
	flex: 0 0 400px;
}

.card header {
  padding: 20px;
	text-align: center;
  background-color: var(--primary);
  color: var(--secondary);
}

.card p {
	text-align: center
}

.card img {
	width: 100%;
}








footer {
  padding: 20x;
  text-align: right;
  background: var(--primary);
  color:var(--secondary);
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}