:root	{
	--primary: #234e6d;
	--secondary: #D0D0D0;
	--third: lime;
	--pop: #122738;
}

* {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  font-family: Arial;
  margin: 0;
	background-color: var(--secondary)
}

.main-header {
	padding: 20px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-color: var(--primary);
	color: var(--secondary);
}

.main-header h1 {
	display: inline-block;
	font-size: 48px;
}

.main-header nav {
	padding-top: 15px;
	margin-right: 20px;
	float: right;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;	
}

.main-header nav ul {
	list-style-type: none;
}

.main-header nav ul li {
	display: inline-block;
	margin-left: 25px;
}

a {
	color: var(--secondary);
	text-decoration: underline;
}

.hero {
	height: 300px;
	width: 100%;
	/* margin-bottom: 10px; */
	background-image: url("../images/Magic-Castle.jpg");
	/* citation: <a href="https://www.freepik.com/free-vector/magic-castle-green-field-fantasy-architecture_33891816.htm#query=cartoon%20castle%20background&position=20&from_view=keyword&track=ais">Image by upklyak</a> on Freepik */
	object-fit: cover;
	background-size: cover;
	background-position: center;
}

.hero-container {
	object-fit: cover;
	text-align: right;
}

main {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 2%; */
}

.main {
	background-color: var(--secondary);
	color: var(--primary);
}

aside {
	flex: 1;
	padding: 25px;
	background-color: var(--secondary);
	color: var(--primary);
	font-size: 275%;
}

.work {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card { 
  border-style: solid;
  border-width: 1px;
	border-radius: 10px;
	padding: 10px;
	flex: 0 0 400px;
}

.card header {
  padding: 20px;
	text-align: center;
  background-color: var(--primary);
  color: var(--secondary);
}

.card p {
	text-align: center
}

.card img {
	width: 100%;
}








footer {
  padding: 20x;
  text-align: right;
  background: var(--primary);
  color:var(--secondary);
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}